/* For GENERAL styling rules */
body {
    background: linear-gradient(
        135deg, 
        #201921,
        #1f161b
    );
}
/*particles-js*/
#particles-js {
    width: 100%;
    height: 100%;
    z-index: -1;
}