/* For GENERAL styling rules */
html, body {
    margin: 0;
    padding: 0;
}
.flex {
    display: flex;
}

/*particles-js*/
#particles-js {
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: -1;
    position: absolute;
}

/*App launcher*/
#app-launcher-wrapper {
    flex-grow: 1;   
    align-items: center;
    justify-content: center;
}
#app-launcher {
    width: 100%;
    height: 100%;

    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.app {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    margin: 0 2.5%;
    margin: -3em 2.5% 0 2.5%;
    text-decoration: none;
}
.app p {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #636363;
}
.tile {
    width: 16vw;
    min-width: 175px;;
    height: 16vw;
    min-height: 175px;
    background-color: #eee;

    justify-content: center;
    align-items: center;
}
.app-icon {
    width: 60%;
    height: 60%;
    /* background-color: #757575; */
    opacity: 0.6;
    transition: opacity 1s;
}
.accent-bar {
    width: 20%;
    height: 5px;
    margin-top: 5px;
    background-color: #636363;
    transition: width 0.2s ease-in-out; 
}
.app:hover .accent-bar{
    width: 42.5%;
}

#game-y .app-icon {
    background-color: none;
    background-image: url('../media/group.png');
    background-repeat: no-repeat;
    background-size: contain;
}
.app:hover .app-icon{
    opacity: 0.9;
}
/*TESTING//
div {
    border: 1px solid red;
}/**/